header {
  background-color: rgba(15, 139, 141, 1);
}
nav {
  color: beige;
  display: flex;
  justify-content: space-between;
  padding: 39px 138px;
}
nav img {
  width: 335px;
  height: auto;
}
nav ul {
  display: flex;
  column-gap: 50px;
}
nav ul li {
  list-style: none;
  font-size: 30px;
}
a {
  text-decoration: none;
  color: beige;
}
