body {
  margin: 0;
  font-family: "Lato";
}
header {
  background-color: rgba(20, 54, 66, 0.7);
  background-image: url(images/Coffe\ Header.png);
  color: beige;
  background-size: cover;
  padding-bottom: 240px;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 39px 139px;
}
header nav img {
  height: 67px;
  width: 335px;
}
header nav ul {
  display: flex;
  column-gap: 30px;
}
header nav ul li {
  list-style: none;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
a {
  text-decoration: none;
  color: beige;
}
header .jumbotron {
  padding-top: 133px;
}

header .jumbotron h1 {
  font-size: 70px;
  font-weight: 800;
  line-height: 84px;
  text-align: center;
  margin: 0;
}
header .jumbotron p {
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}
.content {
  padding: 100px 257px;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
.who,
.showcase,
.hangout {
  display: flex;
}
.who h1,
.showcase h1,
.hangout h1,
.find h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  text-align: left;
  color: rgba(15, 139, 141, 1);
  margin: 0;
  text-decoration: underline;
  text-decoration-color: rgba(236, 154, 41, 1);
}
.who p,
.showcase p,
.hangout p,
.ask p {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
}
.who img {
  width: 335px;
  height: 460px;
  margin-right: 138px;
  border-radius: 20px;
}
.showcase .text {
  margin-right: 138px;
}
.showcase img {
  width: 335px;
  border-radius: 20px;
}
.hangout img {
  width: 453px;
  height: 453px;
  border-radius: 20px;
  margin-right: 138px;
}
.find {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.find h1 {
  text-align: center;
}
.images1,
.images2 {
  display: flex;
  flex-direction: row;
  column-gap: 108px;
}
.images1 img,
.images2 img {
  width: 237px;
}

span {
  color: rgba(236, 154, 41, 1);
  text-decoration: underline;
}

button {
  width: 335px;
  height: 70px;
  background-color: #a8201a;
  border-radius: 55px;
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  border: none;
}
.ask {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ask h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  color: rgba(15, 139, 141, 1);
  margin: 0;
}
